loki:
  enabled: true
  persistence:
    enabled: true
    size: 20Gi
  config:
    table_manager:
      retention_deletes_enabled: true
      retention_period: 336h # 14 days

promtail:
  enabled: true
  config:
    snippets:
      pipeline_stages:
        - docker: {}
