apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: redis
  labels:
    app: sentinel
    component: queue
spec:
  serviceName: "redis-service"
  replicas: 1
  selector:
    matchLabels:
      app: sentinel
      component: queue
  template:
    metadata:
      labels:
        app: sentinel
        component: queue
    spec:
      containers:
      - name: redis
        image: redis:7-alpine
        ports:
        - containerPort: 6379
        volumeMounts:
        - name: redis-data
          mountPath: /data
  # This automatically creates a PersistentVolumeClaim for each Pod
  volumeClaimTemplates:
  - metadata:
      name: redis-data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 1Gi
---
apiVersion: v1
kind: Service
metadata:
  name: redis-service
spec:
  selector:
    app: sentinel
    component: queue
  ports:
    - protocol: TCP
      port: 6379
      targetPort: 6379
  clusterIP: None # Headless service for StatefulSet
