apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  labels:
    app: sentinel
    component: queue
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sentinel
      component: queue
  template:
    metadata:
      labels:
        app: sentinel
        component: queue
    spec:
      containers:
      - name: redis
        image: redis:7-alpine
        ports:
        - containerPort: 6379
---
apiVersion: v1
kind: Service
metadata:
  name: redis-service
spec:
  selector:
    app: sentinel
    component: queue
  ports:
    - protocol: TCP
      port: 6379
      targetPort: 6379
